.profile-header__info {
  padding: 1rem 0 1rem 3rem;
}

.profile-header__info--heading {
  margin: 0;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 2.2em;
}

.profile-header__info--heading span {
  display: block;
  text-shadow: -1px -1px 0px rgba(51, 51, 51, 0.692),
    1px 1px 0px rgba(51, 51, 51, 0.223);
}

.profile-header__info--job-title {
  padding: 8px;
  background-color: #000;
  color: #cfab00;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

.profile-header__info--address {
  margin: 0;
  margin-top: 5px;
  font-size: 11px;
  font-weight: bold;
}

.profile-contact__info {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.profile-contact__info p {
  margin: 0;
  margin-right: 20px;
}

.profile-contact__info p a {
  color: #333;
}

.react-project__url {
  color: #333;
  background-color: #f4f4f4;
  padding: 5px 15px;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
